:root {
  --primary-color: #f75414;
  --background-color: #EFF0EB;
  --secondary-background-color: white;
  --text-color: #222023;
}

section .main > div, .st-emotion-cache-z5fcl4 {
  padding-top: 2.5rem !important;
  max-width: 1000px !important;
  width: 100% !important;
}

h1 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

p {
  margin-bottom: 0.25rem !important;
  color: var(--text-color) !important;
}
