:root {
  --primary-color: #265736;
  --background-color: #EAEBE9;
  --secondary-background-color: #F5F5F5;
  --text-color: #265736;
  --secondary-text-color: #D7F15B;
  --font: sans-serif;
}

section .main > div, .st-emotion-cache-z5fcl4 {
  padding-top: 2.5rem !important;
  max-width: 1000px !important;
  width: 100% !important;
}

h1 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

p {
  margin-bottom: 0.25rem !important;
}
